APP_ENV=local

# Application HTTP port
SERVER_PORT=8090

# Acquiring bank simulator URL
APP_ACQUIRING_BANK_API=http://localhost:8080/payments

# Supported currencies (comma-separated)
APP_PAYMENT_SUPPORTED_CURRENCIES=USD,EUR,CAD

# Log file location
LOGGING_FILE_NAME=/var/log/payment-gateway/application.log
